body {
    margin-left: 20px;
    background-color: rgb(202, 228, 238);
}

.chat {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}

.msg {
    background-color: dodgerblue;
    color: white;
    padding: 1px 15px;
    border-radius: 16px;
}